@import url("spinner.css");

html, body {
  height: 100%;
}

body {
  color: #eee;
  background: #111;
  font-family: Josefin Sans;
  font-weight: 300;
}

body.overlay-visible {
  overflow: hidden;
}

#overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #111;
  opacity: 1;
  z-index: 9999;
  transition: all 0.5s;
}

#overlay.overlay-invisible {
  opacity: 0;
}

#overlay.overlay-hidden {
  z-index: -1;
}

#overlay-progress {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 100%;
  bottom: 0;
  background:
    linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)),
    linear-gradient(#E3C991, #835734);
  transition: right 0.5s;
  z-index: -1;
}

#overlay-button {
  font-family: Playfair Display;
  font-weight: 900;
  font-style: italic;
  font-size: 2rem;
  padding: 30px;
  background: transparent;
  box-shadow: none;
  color: #eee;
  border: 1px solid #eee;
  cursor: pointer;
  transition: all 0.5s;
}

#overlay-button:hover {
  background: rgba(0,0,0,0.1);
  box-shadow: 0px 0px 50px #111;
}

.container-full {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  padding: 40px;
}

h1, h2, h3, h4 {
  font-family: Playfair Display;
  font-weight: 900;
  font-style: italic;
  background: linear-gradient(#E3C991, #835734);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 30px;
  filter: drop-shadow(0px 0px 10px #111);
}

h2 {
  font-size: 4rem;
}

p {
  font-size: 2rem;
  background: linear-gradient(#E3C991, #835734);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

li {
  font-size: 1.5rem;
  background: linear-gradient(#E3C991, #835734);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #E3C991;
}

.btn {
  font-family: Josefin Sans;
  font-weight: 300;
  text-transform: uppercase;
  margin: 10px;
  padding-top: 12px;
}

@keyframes top-background {
  from {
    background-position: 0% 0%;
  }
  to {
    background-position: 100% 100%;
  }
}

.image-background {
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 0.9)
    ),
    url('https://i.imgur.com/4YtfB9q.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: none;
  animation-name: top-background;
  animation-duration: 90s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#title {
  font-size: 6rem;
  padding: 0 30px;
}

#cover {
  display: block;
  margin: 30px auto;
}
